<template>
  <div class="container-fluid">
    <div class="row mx-4 my-5">
      <div class="col-lg-10">
        Filtrar por:
        <button class="btn btn-sm btn-primary mx-2" @click="filterProducts('all')">Todos</button>
        <button
          class="btn btn-sm btn-primary mx-3"
          v-for="(category, index) in categories"
          :key="index"
          @click="filterProducts(category.id)"
        >{{category.name}}</button>
      </div>
      <div class="col-lg-2">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
          @click="setTotal"
        >Ver Carrito</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div
        class="col-lg-3 col-12 mx-lg-3 my-lg-4"
        v-for="(product, index) in productsFiltered"
        :key="index"
      >
        <div class="card">
          <img :src="product.image" class="card-img-top" alt="..." />
          <div class="card-body">
            <h4>{{product.name}}</h4>
            <p>{{product.description}}</p>
            <span class="span-price">Precio: {{product.price}} $</span>
          </div>
          <div class="card-footer d-flex">
            <input
              type="number"
              value="1"
              v-model="product.quantity"
              placeholder="Cantidad"
              class="form-control mr-2 w-50"
            />
            <button
              class="btn btn-success w-50"
              @click="addToCart(product, index)"
            >Añadir al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade bd-example-modal-lg"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tu Carrito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in productsInCart" :key="index">
                  <td>{{item.index}}</td>
                  <td>{{item.name}}</td>
                  <td>
                    <button class="btn btn-sm btn-primary" @click="removeItem(item.id)">-</button>
                    {{item.quantity}}
                    <button
                      class="btn btn-sm btn-primary"
                      @click="addItem(item.id)"
                    >+</button>
                  </td>
                  <td>{{ item.preTotal }}</td>
                </tr>
              </tbody>
            </table>
            <div class="row justify-content-end">
              <div class="col-2">
                <strong>Total:</strong>
              </div>
              <div class="col-2">{{total}}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" @click="storePurchase">Finalizar Compra</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Seguir Comprando</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "example-component",
  data: function() {
    return {
      categories: [
        { id: 1, name: "Categoría 1" },
        { id: 2, name: "Categoría 2" },
        { id: 3, name: "Categoría 3" },
        { id: 4, name: "Categoría 4" }
      ],
      products: [],
      productsFiltered: [],
      productsInCart: [],
      total: ""
    };
  },
  methods: {
    getProducts: function() {
      axios
        .get("https://prueba.dawsca.com/api/product")
        .then(res => {
          this.products = res.data.data;
          this.productsFiltered = this.products;
        })
        .catch(err => {
          alert("Ocurrió un Error al listar los productos");
        });
    },
    filterProducts: function(idCategory) {
      this.productsFiltered = [];

      if (idCategory == "all") {
        this.productsFiltered = this.products;
      } else {
        this.productsFiltered = this.products.filter(
          item => item.category_id == idCategory
        );
      }
    },
    addToCart: function(product, index) {
      let sumProduct = product;
      let preTotal = (sumProduct.price * sumProduct.quantity).toFixed(2);
      sumProduct.preTotal = parseFloat(preTotal);
      this.productsInCart.push(sumProduct);
    },
    setTotal: function() {
      let total = null;
      this.productsInCart.forEach(function(value, index, arry) {
        total += parseFloat(value.preTotal);
      });
      this.total = total.toFixed(2);
    },
    addItem: function(id) {
      let product = this.productsInCart.find(item => item.id === id);
      product.quantity += 1;
      let preTotal = (product.price * product.quantity).toFixed(2);
      product.preTotal = parseFloat(preTotal);
    },
    removeItem: function(id) {
      let product = this.productsInCart.find(item => item.id === id);
      if (product.quantity == 1) {
        return false;
      }
      product.quantity -= 1;
      let preTotal = (product.price * product.quantity).toFixed(2);
      product.preTotal = parseFloat(preTotal);
    },
    storePurchase: function() {
      axios
        .post("https://prueba.dawsca.com/api/purchase", {
          products: this.productsInCart,
          total: this.total
        })
        .then(res => {
          alert("Compra Finalizada con éxito");
          this.location.reload();
        })
        .catch(err => {
          alert("Ha ocurrido un error al finalizar tu compra");
        });
    }
  },
  mounted() {
    this.getProducts();
  }
};
</script>
<style lang="css">
.span-price {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #38c172;
}
</style>